<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PerfectTemplate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PerfectTemplate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1503</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
